{% extends "Home/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container dash-content j-center">
        <h1>Hello {{ userData.username }}</h1>
        <div class="row row-cols-2 justify-content-center" style="width: 100%;">
            <a class="card justify-content-center text-center">
                <h3 class="sub-title">ACSL</h3>
                <div class="card-content">
                    <img src="{% static 'Home/images/ACSL-logo.png' %}" alt="ACSL Logo" width="400px">
                    <h5>Videos and resources for the various topics covered in ACSL. <br> Covers both classroom and intermediate divison.</h5>
                </div>
            </a>

            <a class="card justify-content-center text-center">
                <h3 class="sub-title">Programming</h3>
                <div class="card-content">
                    <img src="{% static 'Home/images/Gfu.png' %}" alt="ACSL Logo" width="300px">
                    <h5>Videos and resources for programming in general. Good prep for George Fox and USACO.</h5>
                </div>
            </a>
        </div>
    </div>
{% endblock %}