{% extends "Home/base.html" %}
{% load static %}

{% block title %} Home {% endblock %}
{% block body %}
    <div class="home-content container-fluid">
        <section class="home">
            <div class="banner row justify-content-center align-items-center text-center">
                <div class="banner-center col-12 ">
                    <h1>
                        <span class="typeText" data-txt="We're working on a web design course,We're working on an ACSL course,We're working on alot of things.."></span>
                    </h1>
                    <h3>CSOL is BASE's computer science club</h3>
                    <a href="https://discord.gg/bQbqZ5MtXS" class="btn discord-btn btn-custom mt-4 align-items-center">
                        <img src="{% static 'Home/images/discord-logo.png' %}">
                        Join our discord
                    </a>
                </div>
            </div>
        </section>

        <div class="main container-fluid">    
            <section class="mission section">
                <h1 class="display-4">Our Mission</h1>
                <div>
                    <p class="">
                        We aim to provide students with the opportunity to learn more about Computer science and prepare them for jobs in the future through lectures, competitions and lots of googling.
                    </p>
                </div>
            </section>

            <hr>

            <section class="leads section row">
                <h1 class="display-4">Leadership</h1>

                <div class="col-lg-1" style="background-color: transparent;"></div>

                <div class="card col-lg-5">
                    <div class="about-arpan about">
                        <img src="{% static 'Home/images/guy.jpg' %}" class="align-self-center">
                        <div class="about-text">
                            <h2 class="display-6">Arpan Bhattacharjee</h2>
                            <h4>Former President & Founder</h4>
                            <hr>
                            <p>The 11th grader who made this website but doesn't attend BASE anymore.<br>Been coding for 5 years and has experience in competitive programming.</p>
                        </div>
                    </div>
                </div>

                <div class="card col-lg-5">
                    <div class="about-alan about">
                        <h2 class="display-6">Alan Kurian John</h2>
                    </div>
                </div>

                <div class="col-lg-3" style="background-color:transparent"></div>
                
                <div class="card col-lg-6">
                    <div class="about-* about" style="text-align: center;">
                        <h2 class="display-6">About *</h2>
                        <p>TBD Who will be here</p>
                    </div>
                </div>
            </section>

            <section class="mission"></section>

            <section class="activites"></section>
            
            <section class="calendar"></section>
        </div>
        <section class="footer"></section>
    </div>
{% endblock %}