{% extends "Home/base.html" %}
{% load static %}

{% block title %}Logout{% endblock %}
{% block body %}
    <div class="logout-content w-50">
        <h2>Your have been successfully logged out!</h2>
        <p>You can close this tab or go back to home screen.</p>
        <div class="border-top pt-2">
            <small class="text-muted">
                <a href="{% url 'Home-home' %}" class="ml-2">
                    <img width="12" style="background-color: #B3A760;" src="{% static 'Home/back_home.jpg' %}">
                    Back to home
                </a>
            </small>
        </div>
    </div>
{% endblock %}