{% extends "Home/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}
{% block body %}
    <div class="register-content w-75 mb-5">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Now!!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary submit" type="submit">Register</button>
            </div>
        </form>

        <div class="border-top pt-1">
            <small class="text-muted">
                Already have an account? 
                <a href="{% url 'Home-login' %}" class="ml-2">Login</a>
            </small>
        </div>
    </div>
{% endblock %}